Q1. How do you comment code in Python? What are the different types of comments?

In [14]:
l = [1,3,23,62,'ishkrit',99,'kumar',22,31,'rawat',45.555]
#i am doing a list they contain int,str,float. i am separate int and float in l1 and str in l2.

In [18]:
"""this is using for separate int and float in l1
and l2 are storge all str."""

l1 = [] 
l2 = []
for i in l:
    if type (i)== int or type(i)==float:
        l1.append(i)
    else :
        l2.append(i)

In [19]:
l1

[1, 3, 23, 62, 99, 22, 31, 45.555]

In [20]:
l2

['ishkrit', 'kumar', 'rawat']

there are two type of comment 
1.single line comment = this comment denoted form #
2.multiple line comment = this comment denotted form """ any information"""

Q2. What are variables in Python? How do you declare and assign values to variables?

In [ ]:
every int,str,float etc. this all variables in python

In [8]:
a = 23

In [9]:
a

23

In [10]:
a,b,c = 34,54,56

In [11]:
a

34

In [12]:
b

54

In [13]:
c

56

In [ ]:
#all are example of the declare and assign values to variables.

Q3. How do you convert one data type to another in Python?

there are two type of convertor in python
1. implicit type convertor
2. explicit type convertor

In [28]:
#implicit type convertor
a = 34
b = 25.45

In [29]:
c = a+b

In [30]:
type(c)

float

In [50]:
#explicit type convertor
d =int( '34')
e = 25

In [51]:
f = d+e

In [52]:
type(f)

int

Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [22]:
my_list = [1, 2, 3, 4, 5]
sub_list = my_list[1:3]
print(sub_list)

[2, 3]

Q6. What is a complex number in mathematics, and how is it represented in Python?

In [53]:
a = 4+7j

In [54]:
type(a)

complex

Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [55]:
age = 25

Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable
belong to?

In [56]:
price = 9.99

In [57]:
type(price)

float

Q9. Create a variable named name and assign your full name to it as a string. How would you print the
value of this variable?

In [58]:
name = "ishkrit kumar"

In [59]:
name

'ishkrit kumar'

In [60]:
type(name)

str

Q10. Given the string "Hello, World!", extract the substring "World".

In [69]:
str = "Hello, World"

substr = str[6:12]

print(substr)

 World

Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are
currently a student or not.

In [70]:
is_student = True

In [71]:
type(is_student)

bool